.*py~
*.py~
setup.cfg
/setup.cfg~
*~$*.xlsx
/data-HABE151617/*.txt
/data-gwp/nfp73-ccl-preliminary-results-ipcc-gwp-april-2023.xlsx
/intermediate_files/*
*.gsp
*.gdx
/gams/*.gms~
/gams/*.lst
*~
.doit.*
/__pycache__/
/config-aggregation/aggregations.xlsx
/figures/*
/doc/*.log
/doc/*.aux
/doc/*.out
/doc/*.[pdf|synctex.gz]
/doc/*.pdf
/doc/*.synctex.gz
/doc/_region_.tex
/doc/*.bbl
/doc/*.blg
/beobachter.xlsx
/Dezil_Beispiele.xlsx
/doc/*.sty
/doc/*.bcf
/doc/*.tex.bak
/doc/*.run.xml
